In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error as mse

In [2]:
ds = pd.DataFrame(pd.read_csv('train.csv'))
ds.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,0,22.6,0.06724,0.0,3.24,0.0,0.460,6.333,17.2,5.2146,4.0,430.0,16.9,375.21,7.34
1,1,50.0,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53
2,2,23.0,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
3,3,8.3,24.80170,0.0,18.10,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77
4,4,21.2,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5.0,398.0,18.7,386.40,12.34

In [3]:
X = ds.iloc[:,2:]
y = ds.y

In [33]:
def eval(rs):
    mean_rmses = []
    lambdas = [0.01, 0.1, 1, 10, 100]
    for lam in lambdas:

        linRegr = Ridge(alpha=lam) #, fit_intercept=False)

        rmses = []
        kf = KFold(n_splits=10, shuffle=True, random_state=rs)
        for train_ind, val_ind in kf.split(X):
            x_train, y_train = X.iloc[train_ind], y.iloc[train_ind]
            x_val, y_val = X.iloc[val_ind], y.iloc[val_ind]

            linRegr.fit(x_train, y_train)
            y_pred = linRegr.predict(x_val)

            rmse = np.sqrt(mse(y_val, y_pred))
            rmses.append(rmse)

            mean = np.array(rmses).mean()
        #print(mean)
        mean_rmses.append(mean)

    print('mean of 5 at rs ', rs)
    print(np.array(mean_rmses).mean())
    return np.array(mean_rmses).mean()

In [32]:
eval(20)

5.104237965448703
5.103491161277646
5.098751504014656
5.0921184924044995
5.252823226251261
mean of 5 at rs  20
5.130284469879354

5.130284469879354

In [34]:
ls = [eval(i) for i in range(0,101,10)]

mean of 5 at rs  0
4.855940175530655
mean of 5 at rs  10
4.871523541295313
mean of 5 at rs  20
4.9161236074212225
mean of 5 at rs  30
4.8819373060235005
mean of 5 at rs  40
4.858672926216824
mean of 5 at rs  50
4.8317824210208045
mean of 5 at rs  60
4.888937452507598
mean of 5 at rs  70
4.83429657282292
mean of 5 at rs  80
4.868219232286945
mean of 5 at rs  90
4.843059701979894
mean of 5 at rs  100
4.8416805723611285

In [35]:
ls = [eval(i) for i in range(40,61,4)]

mean of 5 at rs  40
4.858672926216824
mean of 5 at rs  44
4.854671873084707
mean of 5 at rs  48
4.819398597018761
mean of 5 at rs  52
4.782515051429014
mean of 5 at rs  56
4.865519337758309
mean of 5 at rs  60
4.888937452507598

intercept = false => rs=71
intercept = true => rs=52